services:
  kindlemailsenderbot:
    image: kindlemailsenderbot
    build:
      context: .
      dockerfile: KindleEmailSenderBot.TelegramBot/Dockerfile
    depends_on: 
      db:
        condition: service_healthy
  db:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: kindledb
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  db-data:
